.jumbotron {
    margin-top: 50px;
    text-align: left;
}

.fa-code {
    font-size: xx-large;
}

.container .cards {
    justify-content: center;
}

a .logo {
    float: left;
}

.page-footer {
    /*display: none;*/
    background-color: #303030;
    /*position: absolute;*/
    margin-top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.card {
    /*border: none;*/
    height: 205px;
}

.card-text {
    font-size: larger;
    text-align: center;
}

.card-icon {
    text-align: center;
    font-size: 80px;
    padding: 20px;
}

form {
    margin-top: 50px;
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
}

.register-validation {
    margin-bottom: 25px;
}

.logout-message {
    margin-top: 20px;
}

.table {
    margin-top: 50px;
}